* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: wheat;
    font-family: monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
  padding-top: 50px; 
  
}

header > h1 {
    font-size: 2.5rem;
    color: darkgoldenrod;
}

header img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 10px 1px 1px darkgoldenrod;
  margin-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: auto;
    padding: 15px;
    background-color: rgb(104, 143, 89);
    border-radius: 10px;
    
}

main img {
  width: 500px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 1px 1px darkgoldenrod;
}

main h2 {
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 2.2rem;
  color: darkslategray;
  text-shadow: 0 0 3px lightblue;
  line-height: 1em;
  text-align: justify;
}

.religFilo {
    background-color: darkgoldenrod;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding: 1rem;
    position: relative;
}

main .religFilo #btn-mais {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: lightblue;
}

#tituTerc {
  margin: 10px;
  position: relative;
  
}

#descricao-busca {
  display: flex;
  height: auto;
  box-shadow: 1px 1px 1px 10px lightskyblue;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  width: aauto;
  font-size: 1.5rem;
  text-align: justify;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.889);
  transition: all 3s;
  cursor: all-scroll;
}

